<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .confirmation-message {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 50px auto;
            max-width: 400px;
            text-align: center;
        }

        .confirmation-message h1 {
            color: #4caf50;
        }

        .confirmation-message p {
            color: #333;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="confirmation-message">
        <h1>Your request to add car is pending</h1>
        <p>Thank you for choosing our service. We will inform you after the confirmation </p>
    </div>
</body>
</html>