*{
   background-color:#111111;

}
header img{
    position: absolute;
    top: 0.3%;
    left :37%;
    background-color: black;

}

.top img {
    position: fixed;
    left:550px;
   
}
.nav{
    margin-top: 110px;
    
}
.nav a{
    text-decoration: none ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255) ;
  
    margin-left:90px;
    font-size: 22px;
}
#find input[type="search"] {
    float: left;
    margin-left:1350px;
    size:100px;
    display: block;

}