*{
    background-color: #111111 ;
}

.logo img {
    position: fixed;
    left:34%;
    height:120px;
    top:0%
}

.nav{
    background-color: #111111;
    margin-top: 150px;
}
.nav a {
    text-decoration: none ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255) ;
    font-weight: 600;
    margin-left:50px;
    margin-right:40px;
    font-size: 25px;
   }

#find {

}

body {
    background-color: white;

}

