body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://th.bing.com/th/id/OIP.ujyiy90SnGnWa8rjDgGQOgHaEK?w=264&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7'); /* Replace 'background_image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: transparent;
    color: #0046b8;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
}

main {
    padding: 20px 0;
}

.contact-info {
    padding: 50px 0;
    text-align: center;
}

h1 {
    color: #0046b8;
}

.contact-details {
    display: flex;
    justify-content: center;
}

.contact {
    margin: 0 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color with transparency */
}

.contact:hover {
    transform: translateY(-5px);
}

.contact h2 {
    color: #0046b8;
}

.contact p {
    margin: 5px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a background color with transparency */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
